<div>
    <h2 id="page-heading">
        <span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.home.title">Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.home.notFound">No transactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountId"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.accountId">Account Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="counterPartyAccount"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.counterPartyAccount">Counter Party Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="counterPartyName"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.counterPartyName">Counter Party Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="counterPartyLogoPath"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.counterPartyLogoPath">Counter Party Logo Path</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instructedAmount"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.instructedAmount">Instructed Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instructedCurrency"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.instructedCurrency">Instructed Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transactionAmount"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.transactionAmount">Transaction Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transactionCurrency"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.transactionCurrency">Transaction Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transactionTypeId"><span jhiTranslate="gwtechtestopenbankApp.bktechtestopenbankTransaction.transactionType">Transaction Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                    <td><a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a></td>
                    <td>{{ transaction.accountId }}</td>
                    <td>{{ transaction.counterPartyAccount }}</td>
                    <td>{{ transaction.counterPartyName }}</td>
                    <td>{{ transaction.counterPartyLogoPath }}</td>
                    <td>{{ transaction.instructedAmount }}</td>
                    <td>{{ transaction.instructedCurrency }}</td>
                    <td>{{ transaction.transactionAmount }}</td>
                    <td>{{ transaction.transactionCurrency }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>
                        <div *ngIf="transaction.transactionTypeId">
                            <a [routerLink]="['/transaction-type', transaction.transactionTypeId , 'view']" >{{ transaction.transactionTypeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="transactions && transactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
